* {
    font-family: 'Quantico', sans-serif;
   }

body {
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: whitesmoke;
}

h2 {
    text-align: center;
    font-size: 48px;
    color: whitesmoke;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.player img {
    width:200px;
    height: 200px;
}

.player1 {
    color: darkblue;
}

.player2 {
    color: darkred;
}